<form method="POST" action="/store" enctype="multipart/form-data">
    <label for="txtnombre">Nombre</label>
    <input type="text" name="txtNombre" id="txtNombre"required/>
    <br/>
    <label for="txtdoc">Doc</label>
    <input type="number" name="txtDoc" id="txtDoc"required/>
    <br/>
    <label for="txtdirección">Dirección</label>
    <input type="tex" name="txtDirección" id="txtDirección"required/>
    <br/>
    <label for="txtcorreo">Correo</label>
    <input type="email" name="txtCorreo" id="txtCorreo"required/>
    <br/>
    <label for="txtfoto">Foto de Perfil</label>
    <input type="file" name="txtFoto" id="txtFoto"required/>
    <br/>
    <input type="submit" value="Agregar empleado"/>
</form>
   